@import url("https://fonts.googleapis.com/css?family=Lato:100&display=swap");
#game {
  position: relative;
  display: inline-block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
}

#game-container {
  display: flex;
  background-image: url("../imgs/RDM.jpg");
  background-position: center;
  background-size: contain;
  background-clip: content-box, padding-box;
  background-repeat: no-repeat;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  width: 100%;
  height: 100%;
}

#gameplay {
  border-radius: 10px;
  padding: 10px;
  background-image: radial-gradient(circle, var(--a) 0%, var(--b) 100%);
  background-clip: content-box, padding-box;
  border: 5px outset var(--b);
}

#transactions {
  text-align: center;
  height: 35%;
  border-radius: 10px;
  padding: 10px;
  background-image: radial-gradient(circle, var(--a) 0%, var(--b) 100%);
  background-clip: content-box, padding-box;
  border: 5px outset var(--b);
}

#transactionsForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#transactionsForm select {
  display: block;
  background: #0563af;
  color: white;
  padding: 12px;
  width: 150px;
  border: none;
  font-size: 18px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

#transactionsForm select option {
  padding: 30px;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91c9ff;
  outline: none;
  transition: 0.3s ease-in-out;
}

.roll-button {
  height: 60px;
  border: none;
  font-size: 30px;
  color: white;
  background-color: var(--a);
  cursor: pointer;
  width: 100%;
}

#resultsArea {
  text-align: left;
  margin-top: 10px;
  /* 100 % moins les 60 px du bouton moins les 10 px de margin */
  height: calc(100% - 70px);
  color: white;
  margin: 0;
  overflow-y: scroll;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

.btn:hover {
  transition: 0.3s ease-in-out;
  background: #4f95da;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

#rollContainer {
  height: 45%;
  text-align: center;
  margin: 10px;
}

#news {
  text-align: center;
  height: 20%;
  border-radius: 10px;
  padding: 10px;
  background-image: radial-gradient(circle, var(--a) 0%, var(--b) 100%);
  background-clip: content-box, padding-box;
  border: 5px outset var(--b);
}

#newsForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#newsArea {
  margin-top: 20px;
  color: white;
  height: 80%;
  padding: 10px 20px 10px 20px;
}

.btn2 {
  position: absolute;
  display: flex;
  top: calc(35% + 20px);
  width: 180px;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91c9ff;
  outline: none;
  transition: 1s ease-in-out;
  align-items: center;
  justify-content: center;
}

.btn2 svg {
  position: absolute;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn2:hover {
  transition: 1s ease-in-out;
  background: #4f95da;
}

.btn2:hover svg {
  stroke-dashoffset: -480;
}

.btn2 span {
  position: absolute;
  color: white;
  font-size: 18px;
  font-weight: 100;
}
