@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --a: #405b96;
  --b: #3a4166;
  --light-color: #e6e9ff;
  --black-color-a: #292c38;
  --black-color-b: #1f222c;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  height: 100%;
  overflow: hidden;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #124c86;
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  word-break: break-all;
}

.mainButton {
  cursor: pointer;
  padding: 5px 15px;
  background: var(--light-color);
  color: var(--black-color-a);
  border: 0;
  font-size: 32px;
  font-weight: 800;
  margin-top: 20px;
  width: auto;
}
/* Join Page */
.join-container {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  color: #fff;
}

.join-header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  background: var(--dark-color-a);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.join-main {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 30px 40px;
  background: var(--dark-color-b);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.join-main p {
  margin-bottom: 40px;
}

.join-main .form-control {
  margin-bottom: 20px;
}

.join-main label {
  display: block;
  margin-bottom: 5px;
  font-size: 32px;
}

.join-main input[type="text"] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main select {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.rules {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 5px;
  bottom: 50px;
  right: 50px;
  width: 100px;
  border-radius: 5px;
  height: 50px;
  background: rgba(73, 73, 73, 0.685);
  color: white;
  font-weight: 700;
  font-size: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.74);
}

.gw-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  border: 4px double var(--light-color);
  border-radius: 5px;
  border-width: 4px 0;
  padding: 1.5em 0em;
}
.gw-title span {
  font: 1000 4em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  margin: 0 auto;
  -webkit-text-stroke: 0.25px white;
  /* Clip Background Image */
  background: url(https://cdn.eso.org/images/thumb300y/uhd_img2534_babak_cc.jpg)
    repeat-x;
  filter: brightness(150%) saturate(150%);
  -webkit-background-clip: text;
  background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 120s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

@keyframes aitf {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -5400px 0px;
  }
}

video {
  position: absolute;
  opacity: 0.05;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.scrollingBG {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
  background-image: radial-gradient(
      circle,
      rgba(39, 39, 39, 0.6) 100%,
      rgba(255, 255, 255, 0.8) 0%
    ),
    url("../imgs/wallpaper.jpg");
}

@media (max-height: 800px) {
  .join-header {
    display: none;
  }
}

@media (max-height: 700px) {
  .join-header {
    display: none;
  }

  .rules {
    padding: 5px;
    bottom: 35px;
    right: 10px;
    width: 70px;
    border-radius: 5px;
    height: 40px;
    color: white;
    font-weight: 700;
    font-size: 20px;
  }

  .gw-title span {
    font: 1000 3em/1 "Oswald", sans-serif;
  }
}
